<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/styleDark.css">
  </head>
  <body>

    <header>
      <h1>My personal page</h1>
      <ul>
        <li href="/">Home</li>
        <li href="/about">About</li>
        <li href="/contact">Contact</li>
        <li href="/info">Info</li>
        <li href="/history">History</li>
      </ul>
    </header>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>